html{
    background: #8593ff;
	background-image: url(https://lavrenkovnv.github.io/images/2.svg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
    background-size: 40%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1rem;
}
#chat{
	position: relative;
}
#me {
    background: #ffffff;
    font-size: 1.4rem;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px 8px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    clear: both;
    max-width: 65%;
    word-wrap: break-word;
    margin-right: 1%;
    margin-top: 1%;
    margin-left: 1%;
    border-top-left-radius: 0;
    background-image: linear-gradient(157deg,#f71a2f, #f95422);
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}
#you{
	background: #ffffff;
    background-image: linear-gradient(138deg,#3a2f71f5, #007ec5);
    border-top-left-radius: 0;
    font-size: 1.4rem;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px 8px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: right;
    clear: both;
    max-width: 65%;
    word-wrap: break-word;
    margin-right: 1%;
    margin-top: 1%;
    margin-left: 1%;
    border-top-right-radius: 0;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.34);
}